<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>

    <!-- Reference to the Bing Maps SDK -->
    <script type='text/javascript'
        src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkAArX7aOM5zd5TdIL80WzdoycB1DnM1DxyNuCDnqWsdD7AQXOGz4Cb8-a0iQCXv'
        async defer></script>
</head>

<body>
    <!-- <img id="photo" /> -->
    <script type='text/javascript'>
        function GetMap() {
            var map = new Microsoft.Maps.Map('#myMap', { minZoom: 10, maxZoom: 12 });

            //Add your post map load code here.             
            var quadKeyToTileLocRect = {};

            //Load the Spatial Math module.
            Microsoft.Maps.loadModule("Microsoft.Maps.SpatialMath", function () {
                showMapTileBounds();

                //Recalculate the map tiles bounds everytime the map moves.
                Microsoft.Maps.Events.addHandler(map, 'viewchangeend', showMapTileBounds);
            });

            async function showMapTileBounds() {
                map.entities.clear();
                //Get a list of all the tiles in the current map view.
                var tiles = Microsoft.Maps.SpatialMath.Tiles.getTilesInBounds(map.getBounds(), map.getZoom());
                for (var i = 0; i < tiles.length; i++) {
                    //Calculate the bounding rectangle of the tile.
                    var tileLocRect = Microsoft.Maps.SpatialMath.Tiles.tileToLocationRect(tiles[i]);

                    var quadKey = tiles[i].quadKey;
                    var imageUrl = "https://t.ssl.ak.dynamic.tiles.virtualearth.net/comp/ch/" + quadKey + "?mkt=en-US&it=A,G,RL&shading=hill&n=z&og=526&c4w=1"

                    // This dictionary is used in the callback after the HTTP request so that we can get the TileLocRect
                    quadKeyToTileLocRect[quadKey] = tileLocRect;
                    
                    // Create POST request
                    var xhr = new XMLHttpRequest();

                    // Production
                    xhr.open("POST", "https://beautifulearth.azurewebsites.net/image", true);

                    // Development
                    //xhr.open("POST", "http://127.0.0.1:5000/image", true);

                    xhr.setRequestHeader('Content-Type', 'application/json')

                    // Ask for the result as an ArrayBuffer.
                    xhr.responseType = "arraybuffer";
                
                    // Set a callback that will get called when the call is returned from the service
                    xhr.onload = function( e ) {
                        var quadKeyFromResponseHeader = this.getResponseHeader("X-quadKey");
                        var tileLocRectInCallback = quadKeyToTileLocRect[quadKeyFromResponseHeader];

                        console.log("quadKeyFromResponseHeader: " + quadKeyFromResponseHeader + " | tileLocRectInCallback: " + tileLocRectInCallback);

                        // Obtain a blob: URL for the image data.
                        var arrayBufferView = new Uint8Array(this.response);
                        var blob = new Blob([arrayBufferView], { type: "image/jpeg" });        
                        var urlCreator = window.URL || window.webkitURL;
                        var imageUrl = urlCreator.createObjectURL(blob);
                        
                        // var img = document.querySelector("#photo");
                        // img.src = imageUrl;

                        placeQuad(imageUrl, String(tileLocRectInCallback));
                    };

                    xhr.send(JSON.stringify({ "quadKey": quadKey, "imageUrl": imageUrl }));
                }
            }

            function placeQuad(image, location) {
                //Define a custom overlay class that inherts from the CustomOverlay class.
                TopographicOverlay.prototype = new Microsoft.Maps.CustomOverlay();

                var bounds = Microsoft.Maps.LocationRect.fromString(location);
                var imageSrc = image;

                //Define a constructor for the custom overlay class.
                function TopographicOverlay(bounds, image) {
                    this.bounds = bounds;
                    this.image = image;
                }
                //Implement the onAdd method to set up DOM elements, and use setHtmlElement to bind it with the overlay.
                TopographicOverlay.prototype.onAdd = function () {
                    img = document.createElement('img');
                    img.src = this.image;
                    img.style.width = '100%';
                    img.style.height = '100%';
                    img.style.position = 'absolute';
                    this.setHtmlElement(img);
                };
                TopographicOverlay.prototype.onLoad = function () {
                    repositionOverlay();

                    //Update the position of the image when the view changes.
                    Microsoft.Maps.Events.addHandler(map, 'viewchange', function () {
                        repositionOverlay();
                    });
                }
                function repositionOverlay() {
                    var topLeft = map.tryLocationToPixel(bounds.getNorthwest(), Microsoft.Maps.PixelReference.control);
                    var bottomRight = map.tryLocationToPixel(bounds.getSoutheast(), Microsoft.Maps.PixelReference.control);
                    if (topLeft && bottomRight) {
                        img.style.left = topLeft.x + 'px';
                        img.style.top = topLeft.y + 'px';
                        img.style.width = (bottomRight.x - topLeft.x) + 'px';
                        img.style.width = (bottomRight.x - topLeft.x) + 'px';
                        img.style.height = (bottomRight.y - topLeft.y) + 'px';
                    }
                }

                //Implement the new custom overlay class. 
                var overlay = new TopographicOverlay(bounds, imageSrc);

                //Add the custom overlay to the map.
                map.layers.insert(overlay);
            }
        }
    </script>

    <div id="myMap" style="position: absolute;width:100%;height:100%;"></div>
</body>
</html>